#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.circle {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 50px auto;
  border-radius: 50%;
  border: 4px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c1c1c;
}

.feedback-text.in-tune {
  color: #00c853;
}

.feedback-text.sharp {
  color: #d32f2f;
}

.feedback-text.flat {
  color: #1976d2;
}

.feedback-text:hover {
  transform: scale(1.05);
}
button.start-listening {
  background: linear-gradient(to bottom, #001f3f, #000000);
  color: darkgrey;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button.start-listening:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

button.start-listening:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.column-header {
  color: #fff;
}

.journal-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
}

.journal-column {
  overflow-y: auto;
  padding: 1rem;
}

.journal-column-1 {
  flex: 1;
  border-right: 1px solid #ccc;
}

.journal-column-2 {
  flex: 1.5;
  border-right: 1px solid #ccc;
}

.journal-column-3 {
  flex: 1;
}

@media (max-width: 768px) {
  .journal-layout {
    flex-direction: column;
  }

  .journal-column-1,
  .journal-column-2,
  .journal-column-3 {
    flex: unset;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }
}

.goal-button {
  background: transparent;
  border: none;
  color: #999;
  font-size: 0.9rem;
  cursor: pointer;
}
